test/assets/t3.wadl

<?xml version="1.0" encoding="UTF-8"?>
<ns0:application xmlns:ns0="http://wadl.dev.java.net/2009/02">
    <ns0:doc xmlns:ns1="http://jersey.java.net/" ns1:generatedBy="Jersey: 2.22.4 2016-11-30 13:33:53"/>
    <ns0:doc xmlns:ns2="http://jersey.java.net/" ns2:hint="This is simplified WADL with user and core resources only. To get full WADL with extended resources use the query parameter detail. Link: https://ghuatgodigisrv1.gh.sbicdirectory.com:7102/TransactionServices/application.wadl?detail=true"/>
    <ns0:grammars/>
    <ns0:resources base="https://ghuatgodigisrv1.gh.sbicdirectory.com:7102/TransactionServices/">
        <ns0:resource path="/branchposting">
            <ns0:resource path="/addtransaction">
                <ns0:method id="AddTransactions" name="POST">
                    <ns0:request>
                        <ns0:representation mediaType="application/json"/>
                        <ns0:representation mediaType="application/xml"/>
                    </ns0:request>
                    <ns0:response>
                        <ns0:representation mediaType="application/json"/>
                        <ns0:representation mediaType="application/xml"/>
                    </ns0:response>
                </ns0:method>
            </ns0:resource>
        </ns0:resource>
        <ns0:resource path="/services">
            <ns0:resource path="/postagencytransaction">
                <ns0:method id="postAgencyTransactions" name="POST">
                    <ns0:request>
                        <ns0:representation mediaType="application/json"/>
                        <ns0:representation mediaType="application/xml"/>
                    </ns0:request>
                    <ns0:response>
                        <ns0:representation mediaType="application/json"/>
                        <ns0:representation mediaType="application/xml"/>
                    </ns0:response>
                </ns0:method>
            </ns0:resource>
            <ns0:resource path="/addtransaction">
                <ns0:method id="addTransactions" name="POST">
                    <ns0:request>
                        <ns0:representation mediaType="application/json"/>
                        <ns0:representation mediaType="application/xml"/>
                    </ns0:request>
                    <ns0:response>
                        <ns0:representation mediaType="application/json"/>
                        <ns0:representation mediaType="application/xml"/>
                    </ns0:response>
                </ns0:method>
            </ns0:resource>
            <ns0:resource path="/echotest">
                <ns0:method id="webServiceEcho" name="GET">
                    <ns0:response>
                        <ns0:representation mediaType="text/plain"/>
                    </ns0:response>
                </ns0:method>
            </ns0:resource>
            <ns0:resource path="/gettransaction">
                <ns0:method id="getTransaction" name="GET">
                    <ns0:request>
                        <ns0:param name="id" style="query" xmlns:xsd="http://www.w3.org/2001/XMLSchema" type="xsd:string"/>
                    </ns0:request>
                    <ns0:response>
                        <ns0:representation mediaType="application/json"/>
                        <ns0:representation mediaType="application/xml"/>
                    </ns0:response>
                </ns0:method>
            </ns0:resource>
            <ns0:resource path="/gettransactions">
                <ns0:method id="getTransactions" name="GET">
                    <ns0:request>
                        <ns0:param name="startDate" style="query" xmlns:xsd="http://www.w3.org/2001/XMLSchema" type="xsd:string"/>
                        <ns0:param name="endDate" style="query" xmlns:xsd="http://www.w3.org/2001/XMLSchema" type="xsd:string"/>
                    </ns0:request>
                    <ns0:response>
                        <ns0:representation mediaType="application/json"/>
                        <ns0:representation mediaType="application/xml"/>
                    </ns0:response>
                </ns0:method>
            </ns0:resource>
        </ns0:resource>
    </ns0:resources>
</ns0:application>
